[options]
admin_passwd = ${ODOO_ADMIN_PASSWORD}
data_dir = /var/lib/odoo
addons_path = /mnt/extra-addons,/usr/lib/python3/site-packages/odoo/addons

# Database configuration
db_host = db
db_port = 5432
db_user = ${USER}
db_password = ${PASSWORD}

# Additional parameters
xmlrpc_port = 8069
logfile = /var/log/odoo/odoo.log
log_level = debug
dev = all
